* {
  box-sizing: border-box;
}
body {
    margin: 0;
}
.nav {
  overflow: hidden;
  background-color: #eb936d;
}
.nav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.nav a:hover {
  background-color: #eeeeee;
  color: #000000;
}
.nav a.active {
  background-color: #eb936d;
  color: #ffffff;
  align-content: right;
}
.container {
     background-color: #eb936d"
          border="#eb936d"
    }
  hr {
    border: 0;
    height: 3px;
    background: #eb936d;
    background-image: linear-gradient(to right, #ccc, #eb936d, #ccc);
  }

  h1 {text-align: center;
  font-size:xx-large
  }

  body{
    background-image:img src="images/silk.jpg";
  }

  .form-control {
    display: block;
    width: 50%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
  }
.container{display: flex;
justify-content: center;
align-items: center;}
#instagram{ align-items: center;} 